<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Index</title>

    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
    {{ style('css/style')}}

</head>
<body>

    <div class="menubar">
        <div class="contaner">
            <div class="logo">
                <h1>
                    <a href="Home">ICE ACE CAMERA</a>
                </h1>   
            </div>
            <ul class="menu">
                <li>
                    <a href="Home">Home</a>
                </li>
                <li>
                    <a href="Shop">Shop</a>
                </li>
                <li>
                    <a href="contact">Contact</a>
                </li>
                <li>
                    <a href="Register">Register</a>
                </li>
                
                <li>
                    <a href="login">Login</a>
                </li>
            </ul>
        </div>
    </div>
    
    

    <div class="clearfix"></div>

    <header class="header">
        <div class="container">                                     
            <div class="header_area">
                <h1>Welcome <Br>Ice Ace Camera</h1>
            </div>
        </div>

    </header>

    <section class="info1">
        <head>
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <style>
            body, html {
              height: 100%;
              margin: 0;
              font-family: Arial, Helvetica, sans-serif;
            }
            
            .hero-image {
              background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("img/X-A5_2000x700dad.jpg");
              height: 100%;
              background-position: center;
              background-repeat: no-repeat;
              background-size: cover;
              position: relative;
            }
            
            .hero-text {
              text-align: center;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              color: white;
            }
            
            .hero-text button {
              border: none;
              outline: 0;
              display: inline-block;
              padding: 10px 25px;
              color: black;
              background-color: #ddd;
              text-align: center;
              cursor: pointer;
              text-decoration-color: black;
            }
            
            .hero-text button:hover {
              background-color: #555;
              color: white;
              text-decoration-color: black;
              
            }
            </style>
            </head>
            <body>
            
            <div class="hero-image">
              <div class="hero-text">
                <h1 style="font-size:50px">SHOP NOW</h1>
                <p>CAMERA LENS GOPRO</p>
                <button> <a href="Shop">Click Me</button>
              </div>
            </div>
        
            
            </body>
    </section>

    <section class="info2">
        <!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
  
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
    position:   
  }
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
}

.container {
  padding: 0 16px;
  text-align: left;
}


.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 50%;
}

.button:hover {
  background-color: #ddd;
}

</style>
</head>
<body>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>

<div class="row">
  <div class="column">
    <div class="card">
      <img src="img/Nikon-Z7_1.jpg" alt="Nikon Z7" style="width:50%">
      <div class="container">
        <h2>Nikon Z7</h2>
        <p class="title">101,990 ฿ – 120,990 ฿</p>
        <p></p>
        <p></p>
        <p><button class="button"><a href="Nikon">BUYNOW</button></p> 
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="img/Sigma-85mm-f1.4-DG-DNA-1.jpg" alt="Mike" style="width:50%">
      <div class="container">
        <h2>Sigma 85mm f/1.4 DG DN(A)</h2>
        <p class="title">38,900 ฿</p>
        <p><button class="button">BUYNOW</button></p>
      </div>
    </div>
  </div>
  
  <div class="column">
    <div class="card">
      <img src="img/GoPro-Max-360-1.jpg" alt="John" style="width:50%">
      <div class="container">
        <h2>GoPro MAX</h2>
        <p class="title">17,000 ฿</p>
        <p><button class="button">BUYNOW</button></p>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <img src="img/GoPro-HERO-8-3.jpg" alt="John" style="width:50%">
      <div class="container">
        <h2>GoPro Hero 8 Black</h2>
        <p class="title">12,999 ฿ – 14,500 ฿</p>
        <p><button class="button">BUYNOW</button></p>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <img src="img/Canon-RF-70-200mm-F2.8L-IS-USM_1.jpg" alt="John" style="width:50%">
      <div class="container">
        <h2>Canon RF 70-200mm f/2.8L IS USM</h2>
        <p class="title">73,900  ฿</p>
        <p><button class="button">BUYNOW</button></p>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <img src="img/Nikon-Coolpix-B600-1.jpg" alt="John" style="width:50%">
      <div class="container">
        <h2>Nikon Coolpix B600</h2>
        <p class="title">9,490 ฿</p>
        <p><button class="button">BUYNOW</button></p>
      </div>
    </div>
  </div>
</div>
</div>


</body>
</html>

<footer>
       
    Ice Ace Camera
</footer>
