<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register</title>

    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
    {{ style('css/style')}}

</head>
<body>
    <div class="menubar">
        <div class="conainer">
            <div class="logo">
                <h1><a href="Home">ICE ACE CAMERA</a></h1>
            </div>
            <ul class="menu">
                <li>
                    <a href="Home">Home</a>
                </li>
                <li>
                  <a href="Shop">Shop</a>
              </li>
                <li>
                    <a href="contact">Contact</a>
                </li>
                <li>
                  <a href="Register">Register</a>
              </li>
                <li>
                    <a href="login">Login</a>
                </li>
            </ul>
        </div>
    </div>
    <!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">

<style>
* {
  box-sizing: border-box;
}

body {
  background-color: white;
  padding: 20px;
  font-family: Arial;
}

.main {
  max-width: 1000px;
  margin: auto;
}

h1 {
  font-size: 50px;
  word-break: break-all;
}
  h3 {
  font-size: 20px;
  word-break: break-all;
}

.row {
  margin: 8px -16px;
}


.row,
.row > .column {
  padding: 8px;
}


.column {
  float: left;
  width: 25%;
}


.row:after {
  content: "";
  display: table;
  clear: both;
}

.content {
  background-color: white;
  padding: 10px;
}


@media screen and (max-width: 900px) {
  .column {
    width: 50%;
  }
}


@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
</style>
</head>
<body>


<div class="main">

<h1>Nikon Z7</h1>
<hr>
<style>
    body {font-family: Arial, Helvetica, sans-serif;}
    

    input[type=text], input[type=password] {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      box-sizing: border-box;
    }
    
 
    button {
      background-color: slategray;
      color: white;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      cursor: pointer;
      width: 100%;
    }
    
    button:hover {
      opacity: 0.8;
    }
    
    .cancelbtn {
      width: auto;
      padding: 10px 18px;
      background-color: #f44336;
    }

    .imgcontainer {
      text-align: center;
      margin: px 0 12px 0;
      position: relative;
    }
    
    img.avatar {
      width: 100%;
     
    }
    
    .container {
      padding: 16px;
    }
    
    span.psw {
      float: right;
      padding-top: 16px;
    }
    
   
    .modal {
      display: none; 
      position: fixed; 
      z-index: 1; 
      left: 0;
      top: 0;
      width: 100%; 
      height: 100%; 
      overflow: auto; 
      background-color: rgb(0,0,0); 
      background-color: rgba(0,0,0,0.4); 
    }
    

    .modal-content {
      background-color: #fefefe;
      margin: 5% auto 15% auto; 
      border: 1px solid #888;
      width: 80%;
    }

    .close {
      position: absolute;
      right: 25px;
      top: 0;
      color: #000;
      font-size: 35px;
      font-weight: bold;
    }
    
    .close:hover,
    .close:focus {
      color: red;
      cursor: pointer;
    }
    

    .animate {
      -webkit-animation: animatezoom 0.6s;
      animation: animatezoom 0.6s
    }
    
    @-webkit-keyframes animatezoom {
      from {-webkit-transform: scale(0)} 
      to {-webkit-transform: scale(1)}
    }
      
    @keyframes animatezoom {
      from {transform: scale(0)} 
      to {transform: scale(1)}
    }
    

    @media screen and (max-width: 300px) {
      span.psw {
         display: block;
         float: none;
      }
      .cancelbtn {
         width: 100%;
      }
    }
    </style>
    </head>
    <body>
    
   
    
    <button onclick="document.getElementById('id01').style.display='block'" style="width:auto;">BUYNOW</button>
    
    <div id="id01" class="modal">
      
      <form class="modal-content animate" action="/action_page.php" method="post">
        <div class="imgcontainer">
          <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
          <img src="img/112.jpg" alt="Avatar" class="avatar">
        </div>
    
        <div class="container">
          <label for="uname"><b>โอนเงินเสร็จ</b></label>
        
    
          <label for="psw"><b>ก่อนกด Submit ทุกครั้ง</b></label>
        
            
          <button type="submit">Submit</button>
          <label>
          
          </label>
        </div>
    
        <div class="container" style="background-color:#fff">
        

        </div>
      </form>
    </div>
    
    <script>

    var modal = document.getElementById('id01');
    

    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
    </script>
<h2>101,990 ฿ – 120,990 ฿</h2>
<p>ประกันICE ACE CAMERA Kit 16-50 mm (13,590 ฿)</p>
<p>ประกันICE ACE CAMERA Kit 16-50 mm +55-210mm (18,990 ฿)</p>
<p>ประกันศูนย์ Kit 16-50 mm(ราคาโปรโมชั่น -1 ธ.ค.63) (17,990 ฿)</p>
<style>
    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
    </style>
    </head>
    <body>
   
    
    <img src="img/Nikon-Z7_1.jpg" alt="Paris" style="width:50%;">
    <h2>Nikon Z7 เรือธงใหม่ของค่ายนิคอนที่เป็นกล้องฟูลเฟรมมิลเอลร์เลสรุ่นแรกของค่ายที่มาพร้อมกับ Z6 ที่มีสเปคเป็นรองกว่าพี่ใหญ่ทั้งจุดโฟกัสและรายละเอียดเล็กๆน้อยรวมถึงราคาที่ห่างกัน เพื่อเป็นการทำความรู้จักกับ Z7 ให้ดีมากขึ้น ลองไปดูรายละเอียดกันว่าจุดเด่นจุดแข็งของพี่ใหญ่คนนี้เป็นอย่างไร</h2>
      <h3> <Br> -   ราคาเฉพาะบอดี้ 3,999 ปอนด์
        <Br>-   45.7 ล้านพิคเซล เซนเซอร์ฟูลเฟรม CMOS
            <Br>-   จุดโฟกัส 493 จุด ระบบ Hybrid AF
                <Br>-   ISO 64-25,600
                    <Br>-   ถ่ายภาพต่อเนื่องได้ 9 fps
                        <Br>-   หน้าจอ LCD touchscreen ขนาด 3.2 นิ้ว ความละเอียด 2,100k-dot</p></h3> 
                            <Br><Br> <img src="img/z702.jpg" alt="Paris" style="width:80%;"><Br>
                           <h3> ดีไซน์</h3>
                            <p>
                                การดีไซด์ของทั้งสองรุ่นนั้นมีคล้ายกันมากและยังคงอัตลักษณ์ของของนิคอนไว้อย่างดี ซึ่งใครที่ใช้ DSLR ค่ายนี้มาก่อนจะสามารถใช้งานกล้อง Mirrorless ทั้งสองรุ่น และยังมีโครงสร้างที่มีความทนทานจากการขูดและกระแทกเหมือน D850 เพียงแต่ Z7 จะมีขนาดที่เล็กและบางกว่ารวมถึงเทคโนโลยีที่ใส่ไปแบบจัดเต็ม<Br><Br>
                                
                                ด้านปุ่มใช้งานมีการจัดวางไว้อย่างดีสะดวกในการใช้งาน Grip เองยังออกแบบให้มีพื้นที่จับมากขึ้นเพื่อให้ผู้ใช้จับได้ถนัดมือมากขึ้น ด้านหลังใส่ joystick มาให้เพื่อใช้เลื่อนโฟกัสได้ง่ายและเลื่อนเมนูได้สะดวก ทั้งมีปุ่ม Fn สำหรับตั้งค่าการใช้งาน ซึ่งปุ่มทั้งสองยังอยู่ในตำแหน่งที่สะดวกการใช้งาน<Br><Br>
                                
                                จอ LCD ขาวดำที่แสดงการตั้งค่าพื้นบานอย่าง Shutterspeed F-stop เป็นต้น เป็นสิ่งที่บางค่ายไม่มี ทำให้สามารถเช็คการตั้งค่าได้อย่างรวดเร็วโดยไม่ต้องมามองหน้าด้านหลัง</p>
                                <Br><Br> <img src="img/z703.jpg" alt="Paris" style="width:80%;"><Br><Br>
                                    <h3> หน้าจอและ  Viewfinder</h3>
                                    จุดอ่อนของ Mirrorless ที่ทำให้ช่างภาพหลายคนต่างไม่ชอบและไม่ค่อยจะมาใช้กล้องรุ่นนี้เท่าคือเรื่องของความละเอียดของช่อง Viewfinder ที่ไม่อาจสู้ช่องมองภาพ DSLR ได้ ซึ่งทางนิคอนตระหนักถึงเรื่องนี้เช่นกันจึงเข็นช่องมองภาพที่มีความละเอียดสูงมาใส่ไว้ใน Z7 และ Z6 เพื่อทำให้ช่างภาพไว้วางใจใน Viewfinderรุ่นใหม่นี้ ด้วยความระเอียดสูงถึง 3690k-dots พร้อมกำลังขยาย 0.8 xs                            <Br>                            <Br>
                                        <Br>
                                    ส่วนหน้าจอด้านหลังมาพร้อมกับขนาด 3.2 นิ้ว 2100k-dot ระบบทัชสกรีน สามารถหงายจอเพื่อสนับสนุนการถ่ายภาพในมุมที่ยากลำบากให้ง่ายมากขึ้น
                                    <Br><Br><Br><Br> <img src="img/z704.jpg" alt="Paris" style="width:80%;"><Br><Br>
                                        <h3>ฟีเจอร์</h3>
                                        สำหรับ Z7 ถือว่าเป็นเรือธงใหญ่ทางค่ายอัดฟีเจอร์มาให้เน้นๆ ทั้งเซนเซอร์ความละเอียดสูง 45 ล้านพิคเซล  มีโฟกัสกว่า 493 จุดครอบคลุมพื้นที่บนเฟรมกว่า 90 เปอร์เซ็นต์ ด้าน ISO ใช้ได้ตั้งแต่ 64-45600 สามารถถ่ายภาพติดต่อกันได้สูงสุด 9 fps น้อยกว่ารุ่นน้อง Z6 ที่ถ่ายได้สูงถึง 12 fps ด้านแบตเตอรี่เป็นเรื่องที่หลายคนสงสัยว่าทำไมถึงทำมาน้อยกว่าเดิมโดยแบตเตอรี่ 1 ก้อนใช้ถ่ายได้ 330 ภาพ แต่ทางนิคอนแจ้งว่าในสนามจริงจะถ่ายได้มากกว่าที่กำหนดไว้ซึ่งอาจจะมากกว่าถึง 2 เท่าเลยก็ได้ แต่อย่างไรก็ตามนิคอนเตรียมเปิดตัว grip ไว้เสริมแบตฯ ซึ่งอาจจะเปิดตัวประมาณปีหน้า และยังมีช่อง USB ไว้ชาร์จไฟได้อีกด้วย
                                        
                                        <h3>เลนส์</h3>
                                        เป็นอีกหนึ่งเรื่องที่ทางนิคอนคงทำใจกันอยู่นานเพราะ F-Mount นั้นมีอยู่ในตลาดและยังเป็นที่รักของช่างภาพกันมายาวนาน การออกเมาท์ใหม่ดูจะเป็นเรื่องหนักใจพอสมควร สุดท้ายก็ถอย Z-Mount ออกมาพร้อมเลนส์รุ่นใหม่ที่มีทั้ง 24-70mm f/4 lens, 35mm f/1.8 และ 50mm f/1.8. Nikon รวมถึงเลนส์ที่มีรูรับแสงกว้างที่สุดอย่าง 58mm f/0.95 ‘Noct และตารางการออกเลนส์ใหม่ที่จะทยอยออกมาเรื่อยๆ โดยทางนิคอนยังออก FTZ adapter สำหรับใครที่สนใจจะใช้ F-Mount กับกล้องตัวใหม่เป็นการบรรเทาความทุกข์ให้แฟนคลับเก่าแก่ไม่รู้สึกว่าโดนทิ้งไว้ข้างหลัง
                                        <Br><Br>
                                        สุดท้ายเลนส์ที่ระดับซูเปอร์เทเลที่ต้องไม่พูดถึงไม่ได้นั้นคือ เลนส์ระยะ 500 มม. ที่จัดการย่อขนาดให้เล็กลงเมื่อเทียบกับรุ่นเก่าแล้วต้องถือว่าเล็กลงไปมากทีเดียว





                    
</body>
</html>
